<head>
        <nav class="navbar navbar-expand-lg fixed-top navbar-light">
            <a class="navbar-brand" href="#">Silly Biz Cardz </a>
            <div class="signin">
                <button type="button" style="position: absolute; right: 0;" class="btn-2 btn-outline-primary" href="/public/styles/choosedesign.html">
                    Sign In</button>
            </div>
        </nav>
        </div>
    </head>

<body>
    <video autoplay loop id="video-background" muted plays-inline>
        <source src="https://player.vimeo.com/external/223159355.sd.mp4?s=aae34c7d98fdf1459dcb0f79758674b961b7574d&profile_id=164"
            type="video/mp4">
    </video>

    <div class="container-row"></div>
   
</body>