<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>SillyBiz</title>

    <link rel="stylesheet" type="text/css" href="../public/styles/styles.css" />
    <script src="server.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Bevan|Comfortaa|Flamenco|Life+Savers|Poiret+One|Stint+Ultra+Expanded"
        rel="stylesheet">

</head>

<body>
    <div class="header">
        <h1>Silly Biz Cardz</h1>
        <button type="button" class="signinbtn" href="/public/styles/choosedesign.html">Sign In</button>
    </div>



    <!-- <video autoplay loop id="video-background" muted plays-inline>
        <source src="https://player.vimeo.com/external/223159355.sd.mp4?s=aae34c7d98fdf1459dcb0f79758674b961b7574d&profile_id=164"
            type="video/mp4">
    </video> -->

    <div class="container-fluid">
        <div class="row">
        <div class="col-lg-12">
            <h2>Why so Serious? </h2></div>
        

        <div id="getsilly">
                <div class="row">
                       
            <a href="./choosedesign.html"><button class="btn">Click Here to get Silly!</button></a>
        </div>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="server.js"></script>

</body>

</html>