<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Landing Page</title>

    <link rel="stylesheet" type="text/css" href="../public/styles/styles.css" />
    <script src="server.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Bevan|Comfortaa|Flamenco|Life+Savers|Poiret+One|Stint+Ultra+Expanded"
        rel="stylesheet">

</head>


<body>
    <div class="header">
        <h1>Silly Biz Cardz</h1>
        <button type="button" class="signIn" href="/public/styles/choosedesign.html">Sign In</button>
    </div>

    <div class="container-fluid">
            <div class="row">
                    <div class="col-lg-4 col-lg-offset-4">
                        <h2 class=" section-title ">Why So Serious?</h2>
                    </div>
                </div>
               
            

            <div id="getsilly">

                    <a href="./choosedesign.html"><button class="btn">Click Here to get Silly!</button></a>
                </div>
            </div>
        </div>





        <footer class="">
            
            </div>
        </footer>

        <!--Sign Button / authentication check-->
        <script src="../public/js/authentication.js"></script>
        <!-- server.js -->
        <!-- <script src="server.js"></script> -->

        <!-- Jquery -->
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
</body>

</html>