<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <!-- Custom CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="../public/styles/styles.css" /> -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">

    <title>Landing Page</title>

</head>


<body class="container-fluid bg-success">

    <div class="row p-2 mb-4 bg-info border border-light border-top-0 border-left-0 border-right-0">
        <div class="col-8 text-center text-white">
            <h1>Monkey Business</h1>
        </div>
        <div class="col-4 text-center text-white">
                <button id="signIn" class="btn btn-info border border-light">Sign In</button>
            </div>
    </div>

    <div class="row mx-auto">
            <div class="col-12 text-center text-white p-4">
                <h3>Welcome to Monkey Business</h3>
                <h3>Business-ish cards</h3>
            </div>
        </div>

    <div class="row mx-auto">
        <div class="col-12 text-center text-white p-4">
            <div id="emptyDiv"></div>
            <img src="https://vignette.wikia.nocookie.net/ideas/images/5/5f/Sweet_the_monkey.png/revision/latest/scale-to-width-down/527?cb=20130205174301">
        </div>
    </div>

    <footer class="row bg-info text-white text-center border border-light border-bottom-0 fixed-bottom">
        <div class="col-12 pt-3">
            <p>Team X - Project 2 - UNC Coding Bootcamp 2018</p>
        </div>
    </footer>

    <!--Sign Button / authentication check-->
    <script src="../public/js/authentication.js"></script>
    <!-- server.js -->
    <!-- <script src="server.js"></script> -->
    <!-- Bootstrap js -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script> -->
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
</body>

</html>