<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Saved Designs</title>
    <!-- <link rel="stylesheet" href="../public/styles/landingstyles.css"> -->
    <link rel="stylesheet" href="../public/styles/savedDesigns.css">
</head>
<body>
    <div class="header">
            <h1>Silly Biz Cardz</h1>
                    <!-- {{#if userid}} -->
                        <button type="button" class="signIn" id="logout">Logout</button>
                    <!-- {{else}} -->
                        <button type="button" class="signIn" id="signIn">Sign In</button>
                    <!-- {{/if}} -->
                    
    </div>
    <br>
<div>
    <h1>Blah.</h1>
    <div class="card">
        <div class="name"></div>
        <div class="phone"></div>
        <div class="email"></div>
        <div class="url"></div>
        <div class="quote"></div>
    </div>
</div>

</body>
</html>