/* form styling */

.form {

}

/* card size/position */

.card-area {
    width: 600px;
    height: 250px ;

}

/* positioning */

.name-area {

}

.phone-area {

}

.email-area {

}

.url-area {

}

/* background color */

.card-bg-default {
    background-color: lightgray;
}

.card-bg-white {
    background-color: white;
}

.card-bg-black {
    background-color: black;
}

.card-bg-red {
    background-color: red;
}

/* border */

.card-border-default {
    border: solid, balck, 2px;

}