.header {  
    top:0%;
    width:100%;
    height:10%;
    box-shadow: 0 0 30px hsl(187, 25%, 94%);
    border-radius: 5px;
    position:absolute;
    margin-top: 0px;
    display: table;
    color: white;
    text-shadow: 0px 0px 15px rgba(207, 205, 205, 0.822);
    box-shadow: 10px 20px 30px rgba(65, 112, 241, 0.2);;
    border-radius: 3px;
    background-image: linear-gradient(to left, hsl(61, 94%, 48%), hsl(335, 85%, 55%),hsl(194, 92%, 48%));
    position: fixed;    
    /* overflow:hidden; */
    display:inline-flex;
    white-space: nowrap;
    z-index: 1;
    
}

h1  {
    margin:1%;;
    font-family: 'Stint Ultra Expanded', cursive;
    flex: 1 1 auto;
    margin: 5px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    background-size: 400% auto;
    color: white;
    font-size:12vw;
    text-shadow: 0px 20px 30px hsl(194, 95%, 8%);
    /* box-shadow: 0 0 30px hsl(194, 62%, 75%); */
    z-index: 2;
    display: inherit;
    float:left;
    position: relative;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  }
  
  .signIn {
    margin: 5px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    font-size:1.25vw;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 30px  hsl(61, 94%, 48%);
    border-radius: 5px;
    display: inline-block;
    min-width: 10%;
    width:10%;
    float:right;
    background-position: right center; /* change the direction of the change here */
    background-image: linear-gradient(to right, hsl(61, 94%, 48%), hsl(335, 85%, 55%),hsl(194, 92%, 48%));
  }
  
  .signIn:hover {
    background-position: left ; /* change the direction of the change here */
    background-image: linear-gradient(to right, hsl(61, 94%, 48%), hsl(335, 85%, 55%),hsl(194, 92%, 48%));
    box-shadow: 0 0 30px hsl(226, 97%, 56%);
  }
  
  body {
    width:100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background:white;
    /* background-image: url("../styles/images/jokers.jpg"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
  }

  .col-lg-3 {
    padding:0px;
    z-index: 1;
    display:inline;
    float:left;
    height:150%;
    width:100%;
    margin-top:500px;
    margin-left:0px;
  }

  .col-lg-9 {
   padding:5px;
   z-index: 2;
   margin-top:700px;
   display:inline;
   float:left;

}

  .design-tools {
    padding:10px;
  }











/* form styling */

.form {

}

/* card size/position */

.card-area {
    width: 600px;
    height: 250px ;

}

/* positioning */

.name-area {

}

.phone-area {

}

.email-area {

}

.url-area {

}

/* background color */

.card-bg-default {
    background-color: lightgray;
}

.card-bg-white {
    background-color: white;
}

.card-bg-black {
    background-color: black;
}

.card-bg-red {
    background-color: red;
}

/* border */

.card-border-default {
    border: solid, balck, 2px;

}