.navbar {  
    padding:1%;
    height:10%;
    box-shadow: 0 0 30px hsl(192, 4%, 25%);
    border-radius: 05px;
    position:inline-block;
}

.navbar-brand{
  font-family: 'Comfortaa', cursive;
  font-size: 50px;
  font-weight: 1000;
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    background-image: linear-gradient(45deg, 
                      #7794ff, 
                      #44107A,
                      #FF1361,
                      #FFF800);
}

#video-background {
      position: fixed;
      left:0;
      right: 0; 
      bottom: 0;
      min-width: 100%; 
      min-height: 100%;
      height: auto;
      z-index: -90;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      overflow:hidden;
      object-fit: cover;
  }

  .btn-2{
    padding:10px;
    height:100%;
    width:10%;
    flex: 1 1 auto;
    font-size: 20x;
    margin: -5px;
    margin-top: -33px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 500% auto;
    color: white;
    text-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    box-shadow: 0 0 10px hsl(180, 67%, 57%);
    border-radius: 3px;
    background-image: linear-gradient(to left, hsl(61, 94%, 48%), hsl(335, 85%, 55%),hsl(194, 92%, 48%));
    position: inline-flex;    
  }

  .btn-2:hover {
    background-position: right center; /* change the direction of the change here */
    background-image: linear-gradient(to left, hsl(61, 94%, 48%), hsl(335, 85%, 55%),hsl(194, 92%, 48%));

  }

html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background:white;
  }
  
  h1 {
    font-family: 'Bevan', cursive;
    padding:60px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 8vw;
    font-weight: 900;
    text-decoration: none;
    color: white;
    width: 100%;
    display: inline-block;
    background-size: 120% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    background-image: linear-gradient(45deg, 
                      #7794ff, 
                      #44107A,
                      #FF1361,
                      #FFF800);
    animation: .8s shake infinite alternate; 
    z-index: 2;
  }

  
  @keyframes shake {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }  
  } 
    .container {
        padding:20px;
        margin-bottom:50px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        width: 80vw;
        margin: 0 auto;
        min-height: 100vh;
        position:flex;
      }

      .btn {
        flex: 1 1 auto;
        margin: 10px;
        padding: 30px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        font-size:2vw;
        text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
        box-shadow: 0 0 30px hsl(194, 62%, 75%);
        border-radius: 05px;
        z-index: 2;
        display: inline-flex;
        float:right;
        animation: flash linear 1ms infinite;; 
       }

       @-webkit-keyframes flash {
        0% { opacity: 1; } 
        25% { opacity: 1; } 
        50% { opacity: .1; } 
        100% { opacity: 1; }
      }
      
      .btn:hover {
        background-position: right center; /* change the direction of the change here */
      }
      
      .btn-5 {
        background-image: linear-gradient(to right, hsl(61, 94%, 48%), hsl(335, 85%, 55%),hsl(194, 92%, 48%));
        animation: flash linear 1s infinite;; 

    }

      